body{
    background-color: black;
}
#heading{
    font-size: 50px;
    text-align: center;
    background-color: rgb(164, 159, 159);
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px 10px;
}