body{
    background-color: rgb(0, 0, 0);
}
#heading{
    font-size: 50px;
    text-align: center;
    background-color: rgb(164, 159, 159);
    border: 3px solid skyblue;
    margin-left: 300px;
    margin-right: 300px;
    padding: 40px ;
}
.outside{
    font-size: 30px;
    text-align: center;
    border: 3px solid skyblue;
    margin: 60px 300px;
    padding: 40px 40px;
}
.outside .inside{
    color: red;
}